body {
  font-family: Arial, sans-serif;
  background: #bfb0fc;
  text-align: center;
  padding: 100px;
}

#nomeUsuario {
  padding: 10px 40px;
  background: #d7b9ed;
  width: 200px;
  font-size: 16px;
  border: 2px solid #4b4bdb;
  border-radius: 8px;
  color: #333;
  outline: none;
  transition: 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#nomeUsuario:focus {
  border-color: #2c1c94;
  box-shadow: 0 0 8px rgba(44, 28, 148, 0.5);
  background-color: #ffffff;
}

#container {
  background: rgb(55, 41, 152);
  padding: 60px;
  max-width: 800px;
  width: 95%;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0 0 25px #c996f0;
  color: rgb(254, 253, 255);
}

button {
  padding: 12px 24px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 12px;
  border: none;
  background: #ddbaf3;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #7656b5;
  color: #fff;
}

#alternativas button {
  display: block;
  margin: 10px auto;
  width: 85%;
  font-size: 16px;
}
